* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body h1, 
body h2,
body h3 {
    font-family: "Bricolage Grotesque", sans-serif;
}

body p {
    font-family: "Raleway", sans-serif;
}

.background-container {
    position: fixed;
    inset: 0;
    z-index: 0;
    background-image: url(/public/images/yuriy-kovalev-nN1HSDtKdlw-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
}

.page {
    position: relative;
    z-index: 1;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 4rem;
}

header img {
    width: 150px;
    height: auto;
}

.search-container {
    position: relative;
}

.search-container label {
    display: none;
}

.search-container input {
    width: 400px;
    height: 40px;
    border-radius: 25px;
    border: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
}

.search-container input::placeholder {
    font-size: 1em;
    font-style: italic;
    color: grey;
}

.search-container img {
    position: absolute;
    top: 7px; 
    left: 15px;
    height: 24px;
    width: auto;
}

.intro {
    padding: 7rem 4rem;
    color: white; 
}

.intro h1 {
    font-size: 4em;
}

.icon-text {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.intro h2 {
    font-size: 3em;
}

.intro p {
    margin-top: 2rem;
}

.table {
    padding: 1rem 4rem;
}

#schema {
    color: white; 
}

#schema thead th {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 1.3em;
}

footer {
    padding: 2rem 4rem; 
    color: white; 
    text-align: center;
}

footer h2 {
    font-size: 2em;
    margin-bottom: 0.3rem;
}

footer h3 {
    font-size: 1.3em;
    margin-bottom: 0.7rem;
}

footer p {
    color: #367db0;
}


